<IfModule mod_rewrite.c>
	RewriteEngine On

	# Hide config folder
	RewriteRule ^config(/.*|)$ $1 [L,NC]

	# Redirect to SSL
	#RewriteCond %{HTTPS} !=on
	#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

	# Redirect any non-existing file to index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule . index.php [L]
</IfModule>

#modpagespeed off